Aula 6

In [4]:
i = 0
print(i)
i = i + 1
print(i)
i = i + 1
print(i)
i = i + 1
print(i)
i = i + 1
print(i)

0
1
2
3
4

In [5]:
S = 1
print(S)
S = S + 1/2
print(S)
S = S + 1/4
print(S)
S = S + 1/6
print(S)

1
1.5
1.75
1.9166666666666667

In [8]:
for  i in [0,1,2,3,4,5]:
  print(i)

0
1
2
3
4
5

In [11]:
S = 0
for  i in [0,1,2,3,4,5]:
  S = S + i
  print(i,S)
print('Saiu do for')

0 0
1 1
2 3
3 6
4 10
5 15
Saiu do for

In [12]:
S = 0
for i in {1,2,3,4,5}:
  S = S + 1/(2*i)
  print(S)
print('acabou')

0.5
0.75
0.9166666666666666
1.0416666666666665
1.1416666666666666
acabou

In [13]:
import numpy as np

S = 0
for i in np.arange(1,51,1):
  S = S + 1/(2*i)
  print(S)
print('acabou')

0.5
0.75
0.9166666666666666
1.0416666666666665
1.1416666666666666
1.2249999999999999
1.2964285714285713
1.3589285714285713
1.4144841269841268
1.4644841269841269
1.5099386724386723
1.551605339105339
1.5900668775668776
1.6257811632811634
1.6591144966144968
1.6903644966144968
1.719776261320379
1.7475540390981568
1.773869828571841
1.798869828571841
1.8226793523813647
1.8454066251086374
1.86714575554342
1.8879790888767534
1.9079790888767534
1.9272098581075225
1.9457283766260411
1.963585519483184
1.9808268987935287
1.9974935654601953
2.01362259771826
2.02924759771826
2.044399112869775
2.0591049952227163
2.0733907095084305
2.0872795983973194
2.100793111910833
2.113951006647675
2.1267715194681878
2.139271519468188
2.1514666414194075
2.1633714033241693
2.1749993103009135
2.1863629466645498
2.197474057775661
2.208343622993052
2.2189819208653923
2.2293985875320588
2.2396026691647117
2.2496026691647115
acabou

In [15]:
S = 0
for i in range(1,51,):
  S = S + 1/(2*i)
  print(S)
print('acabou')

0.5
0.75
0.9166666666666666
1.0416666666666665
1.1416666666666666
1.2249999999999999
1.2964285714285713
1.3589285714285713
1.4144841269841268
1.4644841269841269
1.5099386724386723
1.551605339105339
1.5900668775668776
1.6257811632811634
1.6591144966144968
1.6903644966144968
1.719776261320379
1.7475540390981568
1.773869828571841
1.798869828571841
1.8226793523813647
1.8454066251086374
1.86714575554342
1.8879790888767534
1.9079790888767534
1.9272098581075225
1.9457283766260411
1.963585519483184
1.9808268987935287
1.9974935654601953
2.01362259771826
2.02924759771826
2.044399112869775
2.0591049952227163
2.0733907095084305
2.0872795983973194
2.100793111910833
2.113951006647675
2.1267715194681878
2.139271519468188
2.1514666414194075
2.1633714033241693
2.1749993103009135
2.1863629466645498
2.197474057775661
2.208343622993052
2.2189819208653923
2.2293985875320588
2.2396026691647117
2.2496026691647115
acabou

In [19]:
S = 0
for i in range(10,51):
  S = S + i
  print(i,S)
print('acabou')

10 10
11 21
12 33
13 46
14 60
15 75
16 91
17 108
18 126
19 145
20 165
21 186
22 208
23 231
24 255
25 280
26 306
27 333
28 361
29 390
30 420
31 451
32 483
33 516
34 550
35 585
36 621
37 658
38 696
39 735
40 775
41 816
42 858
43 901
44 945
45 990
46 1036
47 1083
48 1131
49 1180
50 1230
acabou

In [22]:
for i in range(3):
  for j in range(3):
    print(f'linha {i}, coluna {j}, valor {i+j}')

linha0,coluna 0,valor 0
linha0,coluna 1,valor 1
linha0,coluna 2,valor 2
linha1,coluna 0,valor 1
linha1,coluna 1,valor 2
linha1,coluna 2,valor 3
linha2,coluna 0,valor 2
linha2,coluna 1,valor 3
linha2,coluna 2,valor 4

In [23]:
x = np.array([3,5,2,42,-2,-90,6])
for i in range(len(x)):
  print(x[i])

3
5
2
42
-2
-90
6

In [26]:
z = np.zeros(50)
for i in range(len(z)):
  z[i] = i
z

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49.])

In [ ]:
z = np.zeros(50)
for i in range(len(z)):
  z[i] = i
z

In [27]:
z = np.zeros(50)
for i in range(len(z)):
  z[i] = 1/(2*i+1)
z

array([1.        , 0.33333333, 0.2       , 0.14285714, 0.11111111,
       0.09090909, 0.07692308, 0.06666667, 0.05882353, 0.05263158,
       0.04761905, 0.04347826, 0.04      , 0.03703704, 0.03448276,
       0.03225806, 0.03030303, 0.02857143, 0.02702703, 0.02564103,
       0.02439024, 0.02325581, 0.02222222, 0.0212766 , 0.02040816,
       0.01960784, 0.01886792, 0.01818182, 0.01754386, 0.01694915,
       0.01639344, 0.01587302, 0.01538462, 0.01492537, 0.01449275,
       0.01408451, 0.01369863, 0.01333333, 0.01298701, 0.01265823,
       0.01234568, 0.01204819, 0.01176471, 0.01149425, 0.01123596,
       0.01098901, 0.01075269, 0.01052632, 0.01030928, 0.01010101])

In [29]:
import pandas as pd
inflacao = pd.read_csv('https://raw.githubusercontent.com/Robezerra06/BasesComputacionais/master/aula5/dados/inflacaoMensal.csv')
inflacao

      Ano  Mês  Inflação
0    1944    2      1.45
1    1944    3      1.43
2    1944    4      1.41
3    1944    5      1.39
4    1944    6      1.37
..    ...  ...       ...
900  2019    2      1.25
901  2019    3      1.07
902  2019    4      0.90
903  2019    5      0.40
904  2019    6      0.63

[905 rows x 3 columns]

In [37]:
inflacao.loc[4] #para ler a linha completa

Ano         1944.00
Mês            6.00
Inflação       1.37
Name: 4, dtype: float64

In [36]:
for linha in range(len(inflacao)):
  print(inflacao.at[linha, 'Ano'])

1944
1944
1944
1944
1944
1944
1944
1944
1944
1944
1944
1945
1945
1945
1945
1945
1945
1945
1945
1945
1945
1945
1945
1946
1946
1946
1946
1946
1946
1946
1946
1946
1946
1946
1946
1947
1947
1947
1947
1947
1947
1947
1947
1947
1947
1947
1947
1948
1948
1948
1948
1948
1948
1948
1948
1948
1948
1948
1948
1949
1949
1949
1949
1949
1949
1949
1949
1949
1949
1949
1949
1950
1950
1950
1950
1950
1950
1950
1950
1950
1950
1950
1950
1951
1951
1951
1951
1951
1951
1951
1951
1951
1951
1951
1951
1952
1952
1952
1952
1952
1952
1952
1952
1952
1952
1952
1952
1953
1953
1953
1953
1953
1953
1953
1953
1953
1953
1953
1953
1954
1954
1954
1954
1954
1954
1954
1954
1954
1954
1954
1954
1955
1955
1955
1955
1955
1955
1955
1955
1955
1955
1955
1955
1956
1956
1956
1956
1956
1956
1956
1956
1956
1956
1956
1956
1957
1957
1957
1957
1957
1957
1957
1957
1957
1957
1957
1957
1958
1958
1958
1958
1958
1958
1958
1958
1958
1958
1958
1958
1959
1959
1959
1959
1959
1959
1959
1959
1959
1959
1959
1959
1960
1960
1960
1960
1960
1960
1960
1960
1960
1960
1960
1960
1961
1961
1961
1961
1961
1961
1961
1961
1961
1961
1961
1961
1962
1962
1962
1962
1962
1962
1962
1962
1962
1962
1962
1962
1963
1963
1963
1963
1963
1963
1963
1963
1963
1963
1963
1963
1964
1964
1964
1964
1964
1964
1964
1964
1964
1964
1964
1964
1965
1965
1965
1965
1965
1965
1965
1965
1965
1965
1965
1965
1966
1966
1966
1966
1966
1966
1966
1966
1966
1966
1966
1966
1967
1967
1967
1967
1967
1967
1967
1967
1967
1967
1967
1967
1968
1968
1968
1968
1968
1968
1968
1968
1968
1968
1968
1968
1969
1969
1969
1969
1969
1969
1969
1969
1969
1969
1969
1969
1970
1970
1970
1970
1970
1970
1970
1970
1970
1970
1970
1970
1971
1971
1971
1971
1971
1971
1971
1971
1971
1971
1971
1971
1972
1972
1972
1972
1972
1972
1972
1972
1972
1972
1972
1972
1973
1973
1973
1973
1973
1973
1973
1973
1973
1973
1973
1973
1974
1974
1974
1974
1974
1974
1974
1974
1974
1974
1974
1974
1975
1975
1975
1975
1975
1975
1975
1975
1975
1975
1975
1975
1976
1976
1976
1976
1976
1976
1976
1976
1976
1976
1976
1976
1977
1977
1977
1977
1977
1977
1977
1977
1977
1977
1977
1977
1978
1978
1978
1978
1978
1978
1978
1978
1978
1978
1978
1978
1979
1979
1979
1979
1979
1979
1979
1979
1979
1979
1979
1979
1980
1980
1980
1980
1980
1980
1980
1980
1980
1980
1980
1980
1981
1981
1981
1981
1981
1981
1981
1981
1981
1981
1981
1981
1982
1982
1982
1982
1982
1982
1982
1982
1982
1982
1982
1982
1983
1983
1983
1983
1983
1983
1983
1983
1983
1983
1983
1983
1984
1984
1984
1984
1984
1984
1984
1984
1984
1984
1984
1984
1985
1985
1985
1985
1985
1985
1985
1985
1985
1985
1985
1985
1986
1986
1986
1986
1986
1986
1986
1986
1986
1986
1986
1986
1987
1987
1987
1987
1987
1987
1987
1987
1987
1987
1987
1987
1988
1988
1988
1988
1988
1988
1988
1988
1988
1988
1988
1988
1989
1989
1989
1989
1989
1989
1989
1989
1989
1989
1989
1989
1990
1990
1990
1990
1990
1990
1990
1990
1990
1990
1990
1990
1991
1991
1991
1991
1991
1991
1991
1991
1991
1991
1991
1991
1992
1992
1992
1992
1992
1992
1992
1992
1992
1992
1992
1992
1993
1993
1993
1993
1993
1993
1993
1993
1993
1993
1993
1993
1994
1994
1994
1994
1994
1994
1994
1994
1994
1994
1994
1994
1995
1995
1995
1995
1995
1995
1995
1995
1995
1995
1995
1995
1996
1996
1996
1996
1996
1996
1996
1996
1996
1996
1996
1996
1997
1997
1997
1997
1997
1997
1997
1997
1997
1997
1997
1997
1998
1998
1998
1998
1998
1998
1998
1998
1998
1998
1998
1998
1999
1999
1999
1999
1999
1999
1999
1999
1999
1999
1999
1999
2000
2000
2000
2000
2000
2000
2000
2000
2000
2000
2000
2000
2001
2001
2001
2001
2001
2001
2001
2001
2001
2001
2001
2001
2002
2002
2002
2002
2002
2002
2002
2002
2002
2002
2002
2002
2003
2003
2003
2003
2003
2003
2003
2003
2003
2003
2003
2003
2004
2004
2004
2004
2004
2004
2004
2004
2004
2004
2004
2004
2005
2005
2005
2005
2005
2005
2005
2005
2005
2005
2005
2005
2006
2006
2006
2006
2006
2006
2006
2006
2006
2006
2006
2006
2007
2007
2007
2007
2007
2007
2007
2007
2007
2007
2007
2007
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2008
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2009
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2010
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2011
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2012
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2013
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2014
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2015
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2016
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2017
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2019
2019
2019
2019
2019
2019

In [49]:
tabela = pd.DataFrame({0:[0,0,0],
                       1:[0,0,0],
                       2:[0,0,0]})
tabela

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0

In [50]:
for i in range(3):
  for j in range(3):
    tabela.at[i,j] = i + j
tabela

   0  1  2
0  0  1  2
1  1  2  3
2  2  3  4